<div [ngStyle]="{'padding': '20px 0'}">
  <h3 [ngStyle]="{'display': 'inline-block', 'margin-right': '1em'}"> {{user.firstName}} {{user.lastName}}</h3>
  <div class="ui small basic icon buttons">
    <button class="ui button" (click)="delete()"><i class="delete icon"></i></button>
  </div>
  <div>
    <h5 [ngStyle]="{'display': 'inline-block'}">Berechtigungen: </h5>
    <div *ngIf="userright.read" [ngStyle]="{'display': 'inline-block', 'padding': '0 10px'}"><label >Lesen</label></div>
    <div *ngIf="userright.edit" [ngStyle]="{'display': 'inline-block', 'padding': '0 10px'}"><label >Bearbeiten</label></div>
    <div *ngIf="userright.Delete" [ngStyle]="{'display': 'inline-block', 'padding': '0 10px'}"><label >Löschen</label></div>
  </div>
</div>
