<div class="ui stackable menu">
  <div class="item">
    <img src="https://cdn.icon-icons.com/icons2/1507/PNG/512/applicationsgraphics_103770.png" alt="mypadlets">
  </div>
  <a routerLink="padlets" routerLinkActive="active" class="item">Öffentliche Padlets</a>
  <a routerLink="padlets" class="item">Private Padlets</a>
  <a routerLink="padlets" class="item">Meine Padlets</a>
  <div class="right menu">
    <a *ngIf="!isLoggedIn()" routerLink="login" routerLinkActive="active" class="item">Login</a>
    <a *ngIf="isLoggedIn()"  routerLink="login" routerLinkActive="active" (click)="logout()" class="item">Logout</a>
    <div class="item">
      <div *ngIf="isLoggedIn()" class="ui primary button">
        <a routerLink="addPadlet" [ngStyle]="{'color': '#ffff'}" class="extra">Padlet hinzufügen</a>
      </div>
    </div>
  </div>
</div><br>
<div class="ui container">
  <router-outlet></router-outlet>
</div>

