<h1>Eintrag erstellen</h1>
<form class="ui large form" [formGroup]="entrieForm" (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">
  <div class="field">
    <label>Titel</label>
    <input formControlName="title">
    <div *ngIf="errors['title']" class="ui negative message"> {{
      errors['title'] }} </div>
  </div>
  <div class="field">
    <label>Text</label>
    <input formControlName="content">
    <div *ngIf="errors['text']" class="ui negative message"> {{
      errors['text'] }} </div>
  </div>
  <button type="submit" class="ui button" [disabled]="entrieForm.invalid">Speichern</button>
</form>

