<h1>Padlet erstellen</h1>
<form class="ui large form" [formGroup]="padletForm" (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">
  <div class="field">
    <label>Titel</label>
    <input formControlName="name">
    <div *ngIf="errors['title']" class="ui negative message"> {{
      errors['title'] }} </div>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" id="isPublic" name="is_public" formControlName="is_public" (change)="toggleIsPublic($event)" [value]="isPublic" checked>
      <label for="isPublic">Öffentlich</label>
    </div>
  </div>
  <button type="submit" class="ui button" [disabled]="padletForm.invalid">Speichern</button>
</form>
