<div class="item ui card">
  <div class="content">
    <div class="header"><b>{{entrie?.title }}</b></div>
    <!-- Vor- und Nachname + Erstelldatum-->
    <div class="extra">{{entrie?.user?.firstName}} {{entrie?.user?.lastName}} | {{dateString}}</div><br>
    <div class="description">{{entrie?.content }}</div><br>
    <div class="ui small basic icon buttons">
      <button class="ui button" [routerLink]="['/addEntrie', entrie.padlet_id, entrie.id]"><i class="edit icon"></i></button>
      <button class="ui button" (click)="delete()"><i class="delete icon"></i></button>
      <button class="ui button" (click)="addComment()"><i class="comment icon"></i></button>
      <button class="ui button" (click)="addRating()"><i class="star icon"></i></button>
    </div>
  </div>
  <!-- Kommentare und Ratings ausgeben-->

  <div class="ui two item menu">
    <a class="item active" (click)="toggleComments()">Kommentare</a>
    <a class="item" (click)="toggleRatings()">Bewertungen</a>
  </div>

  <div *ngIf="showRatings" class="content">
    <div *ngFor="let rating of entrie.ratings" class="extra content">
      <div class="extra">{{rating.user.firstName}} {{rating.user.lastName}}:</div>
      <div class="ui star rating" *ngIf="rating.rating">
        <i *ngFor="let r of getRating(rating.rating)" class="yellow star icon"></i>
      </div><br>
    </div>
  </div>

  <div *ngIf="showComments" class="content">
    <div *ngFor="let c of entrie.comments">
      <div class="extra"><b>{{c.user.firstName}} {{c.user.lastName}}</b></div>
      <div class="description">{{c.comment}}</div><br>
    </div>
  </div>

  <div id="comment-modal-{{entrie_id}}" class="ui small modal" [ngStyle]="{'padding':'20px'}">
    <h3>
      Kommentar hinzufügen
    </h3>

    <form class="ui small form" [formGroup]="commentForm" (ngSubmit)="submitCommentForm()">
      <input type="hidden" formControlName="id">
      <div class="field">
        <input formControlName="comment">
      </div>
      <div class="actions">
          <button class="ui negative button" (click)="modalClose()">Cancel</button>
          <button class="ui positive button" type="submit" class="ui button blue" [disabled]="commentForm.invalid">Speichern</button>
      </div>
    </form>
  </div>

  <div id="rating-modal-{{entrie_id}}" class="ui small modal" [ngStyle]="{'padding':'20px'}">
    <h3>
      Bewertung hinzufügen
    </h3>

    <form class="ui small form" [formGroup]="ratingForm" (ngSubmit)="submitRatingForm()">
      <input type="hidden" formControlName="id">
      <div class="field">
        <input type="number" formControlName="rating">
        <div *ngIf="ratingForm.get('rating')?.invalid &&
          (ratingForm.get('rating')?.dirty || ratingForm.get('rating')?.touched) &&
          ratingForm.get('rating')?.hasError('required')" class="ui negative message">
          Bewertung muss aus einer Zahl bestehen!
        </div>
        <div *ngIf="ratingForm.get('rating')?.invalid &&
          (ratingForm.get('rating')?.dirty || ratingForm.get('rating')?.touched) &&
          ratingForm.get('rating')?.hasError('ratingRange')" class="ui negative message">
          Bewertung muss zwischen 1 und 5 liegen!
        </div>
      </div>
      <div class="actions">
        <button class="ui negative button" (click)="modalClose()">Cancel</button>
        <button class="ui positive button" type="submit" class="ui button" [disabled]="ratingForm.invalid">Speichern</button>
      </div>
    </form>
  </div>

</div>
