<div [ngStyle]="{'display': 'flex'}">
  <h1 [ngStyle]="{'display': 'inline', 'margin': '0px', 'margin-right': '1rem'}">{{ padlet?.name }}</h1>
  <button *ngIf="userrights.edit" class="ui small basic icon button" (click)="toggleMenu()"><i class="setting icon"></i></button>
  <div *ngIf="isMenuOpen" class="ui small basic icon buttons">
    <button *ngIf="userrights.edit" class="ui button" [routerLink]="['/addEntrie', padlet.id]"><i class="icon add"></i></button>
    <button *ngIf="isOwner" class="ui button" [routerLink]="['/addPadlet', padlet.id]"><i class="edit icon"></i></button>
    <button *ngIf="isOwner"class="ui button" (click)="delete()"><i class="delete icon"></i></button>
    <button *ngIf="isOwner"class="ui button" (click)="inviteUser()"><i class="share icon"></i></button>
    <button *ngIf="isOwner"class="ui button" [routerLink]="['/userrightslist', padlet.id]"><i class="user icon"></i></button>
  </div>
</div>

<div id="padlet-modal" class="ui small modal" [ngStyle]="{'padding':'20px'}">
  <h3>
    Benutzer einladen
  </h3>

  <form class="ui small form" [formGroup]="inviteForm" (ngSubmit)="submitInviteForm()">
    <input type="hidden" formControlName="id">
    <div class="field">
      <input formControlName="user">
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" id="read" name="read" formControlName="read">
        <label for="read">Lesen</label>
      </div>
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" id="edit" name="edit" formControlName="edit">
        <label for="read">Bearbeiten</label>
      </div>
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" id="Delete" name="Delete" formControlName="Delete">
        <label for="Delete">Löschen</label>
      </div>
    </div>
    <div class="actions">
      <button class="ui negative button" type="button" (click)="modalClose()">Cancel</button>
      <button class="ui positive button" type="submit" class="ui button blue" [disabled]="inviteForm.invalid">Speichern</button>
    </div>
  </form>
</div>

<div class="content" [ngStyle]="{'margin-bottom':'4rem'}">von {{ padlet?.user?.firstName}} {{ padlet?.user?.lastName}}</div>
<br>
<div class="ui grid container cards">
<div *ngFor="let entrie of padlet?.entries" >
  <bs-entrie-item [entrie]=entrie [userrights]=userrights></bs-entrie-item><br>
</div>
</div>


<!--<button [routerLink]="'/padlets'" class="ui blue button">Zurück zur Padletliste</button>-->
